.conv-selected {
    background-color: #363942;
    font-weight: 400;
}

body {
    /*margin: 0;*/
    /*background-color: #181920;*/
}

#conv-list {
    overflow: auto;
}

.chat-messages {
    min-height: 30vh;
    max-height: 60vh;
    overflow: auto;
}



@media (max-width: 992px) {
    .app-wrapper {
        min-height: 40vh;
        padding: 0.75em;
    }

    .container {
        width: 40vw;
        margin-top: 0rem !important;
    }

    .col-md-5 {
        width: 40vw;
    }

    #current-conv-card-header {
        display: block !important;
    }

    .logged-in-main-view {
        min-height: 60vh;
    }

    .chat-messages {
        min-height: 15vh;
        max-height: 40vh;
        overflow: auto;
    }

    .create-conv {
        display: block !important;
    }

    .chat-card {

    }
}

